# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/target/
backend/*.log

# Python
model-service/__pycache__/
model-service/*.pyc
model-service/venv/
model-service/.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker
*.env.local
